.title
{
    margin-top: 20px;
    text-align: center;
}
.join
{
    background-color: #590098;
    color: white;
    padding: 0.25rem 0.5rem;
    border-radius: 30px;
    width:40%;
    margin-left:30%;
    margin-top: 30px;
}
.join h1
{
    font-size: 20px;
    padding-left:130px;
}
.join h2
{
    font-size: 15px;
    padding-left:220px;
}
.timetable
{

    width:70%;
    font-size: 15px;
    margin-left: 15%;
    margin-top: 30px;
}
th{
    height:30px;
    border: 1px solid black;
    background-color: #EB9678;
}
td
{
    background-color: #EB9678;
    width:170px;
    height:50px;
    border: 1px solid black;
    text-align: center;
}

@media (max-width:1024px) {
    .join {font-size: 10px;}
    .join h1{padding-right:50px ;font-size:15px;}
    .join h2{padding-left:170px ;font-size:15px;}

   
  }

@media (max-width:768px) {
    .join {font-size: 10px;margin-left: 20%;width:50%}
    .join h1{font-size:15px;}
    .join h2{padding-left:150px ;font-size:15px;}
  }
  @media (max-width:425px) {
    .join {font-size: 10px;margin-left:35%;width:100%}
    .join h1{padding-right:50px ;font-size:15px;}
    .join h2{padding-left:170px ;font-size:15px;}
    .timetable {margin-left: 150px;} 
    .title{margin-left: 250px;}
    }
    
    @media (max-width:375px) {
        .join {font-size: 10px;margin-left: 25%;width:120%}
        .join h1{font-size:15px;}
        .join h2{padding-left:160px ;font-size:15px;} 
        .title {margin-left:100px;font-size: 10px;width:100%} 
        .timetable {margin-left: 100px;}  
    }

    @media (max-width:320px) {
        .join {font-size: 10px;margin-left: 40%;width:120%}
        .join h1{font-size:15px;}
        .join h2{padding-left:160px ;font-size:15px;} 
        .title {margin-left:150px;font-size: 10px;width:100%} 
        .timetable {margin-left: 100px;}  
    }

